
@import model._
@import uk.gov.hmrc.play.views.html.helpers
@import views.html.helpers.{alfErrorSummary, alfInput}
@import views.html.v2.govuk_wrapper
@import views.html.v2.main_template

@(id: String, journeyData: JourneyDataV2, lookupForm: Form[Lookup], message: Option[String] = None)(implicit request: Request[_], messages: Messages)

@main_template(title = journeyData.resolveConfigV2.labels.en.lookupPageLabels.title, journeyData = Some(journeyData)) {

  @if(journeyData.resolveConfigV2.options.showBackButtons) {
    <div>
      <a class="back-link" href="javascript:history.back()">@messages("common.back.text")</a>
    </div>
  }

  @alfErrorSummary(
    messages("common.error.text"), lookupForm
  )

  <h1 class="form-title heading-large" id="pageHeading">@{journeyData.resolveConfigV2.labels.en.lookupPageLabels.heading}</h1>
  @if(message.isDefined) {
    <div class="highlight-message highlight-message--full-width">
      <p>@{message.get}</p>
    </div>
  }
  @helpers.form(routes.AddressLookupController.select(id)) {
    <fieldset class="form-field-group">

      <div class="form-field">
        @alfInput(
        lookupForm("postcode"),
        '_label -> journeyData.resolveConfigV2.labels.en.lookupPageLabels.postcodeLabel,
        '_inputClass -> "form-control--block input--small"
        )
      </div>
      <div class="form-field spaced-below">
        <p><a href="@{routes.AddressLookupController.edit(id)}" id="manualAddress">@{journeyData.resolveConfigV2.labels.en.lookupPageLabels.manualAddressLinkText}</a></p>
      </div>
      <div class="form-field spaced-below">
        @alfInput(
        lookupForm("filter"),
        '_label -> journeyData.resolveConfigV2.labels.en.lookupPageLabels.filterLabel,
        '_inputHint -> messages("lookup.input.hint.text"),
        '_inputClass -> "form-control--block"
        )
      </div>

      <div class="form-field spaced-below">
        <button class="button" type="submit" id="continue">@{journeyData.resolveConfigV2.labels.en.lookupPageLabels.submitLabel}</button>
      </div>
    </fieldset>
  }
}
