
@import model._
@import uk.gov.hmrc.play.views.html.helpers
@import views.html.helpers.{alfErrorSummary, alfInput}
@import views.html.v2.main_template
@import model.MessageConstants.{EnglishMessageConstants, WelshMessageConstants, MessageConstants}

@(
id: String,
journeyData: JourneyDataV2,
lookupForm: Form[Lookup],
isWelsh: Boolean,
isUKMode: Boolean = true,
message: Option[String] = None
)(implicit request: Request[_], messages: Messages)

@messageConstants = @{if(isWelsh) WelshMessageConstants(isUKMode) else EnglishMessageConstants(isUKMode)}

@main_template(title = journeyData.resolveConfigV2(isWelsh).labels.lookupPageLabels.title,
               journeyData = Some(journeyData), welshEnabled = isWelsh, isUKMode = isUKMode) {



  @if(journeyData.resolveConfigV2(isWelsh).options.showBackButtons) {
    <div>
      <a class="back-link" href="javascript:history.back()">@messageConstants.back</a>
    </div>
  }

  @alfErrorSummary(
  messageConstants.lookupErrorHeading, lookupForm
  )

  @helpers.form(routes.AddressLookupController.select(id)) {
    <fieldset class="form-field-group">
      <legend>
        <h1 class="form-title heading-large" id="pageHeading">@{journeyData.resolveConfigV2(isWelsh).labels.lookupPageLabels.heading}</h1>
      </legend>

      @if(message.isDefined) {
      <div class="highlight-message highlight-message--full-width">
        <p>@{message.get}</p>
      </div>
      }

      <div class="form-field">
        @alfInput(
        lookupForm("postcode"),
        '_label -> journeyData.resolveConfigV2(isWelsh).labels.lookupPageLabels.postcodeLabel,
        '_inputClass -> "form-control--block input--small"
        )
      </div>
      <div class="form-field spaced-below">
        <p><a href="@{routes.AddressLookupController.edit(id)}" id="manualAddress">@{journeyData.resolveConfigV2(isWelsh).labels.lookupPageLabels.manualAddressLinkText}</a></p>
      </div>
      <div class="form-field spaced-below">
        @alfInput(
        lookupForm("filter"),
        '_label -> journeyData.resolveConfigV2(isWelsh).labels.lookupPageLabels.filterLabel,
        '_inputHint -> messageConstants.lookupFilterHint,
        '_inputClass -> "form-control--block"
        )
      </div>

      <div class="form-field spaced-below">
        <button class="button" type="submit" id="continue">@{journeyData.resolveConfigV2(isWelsh).labels.lookupPageLabels.submitLabel}</button>
      </div>
    </fieldset>
  }
}
