@import config.FrontendAppConfig
@import model.JourneyDataV2
@import uk.gov.hmrc.play.views.html.layouts
@import views.html.v2.govuk_wrapper

@(title: String,
  journeyData: Option[JourneyDataV2] = None,
  sidebarLinks: Option[Html] = None,
  contentHeader: Option[Html] = None,
  bodyClasses: Option[String] = None,
  mainClass: Option[String] = None,
  scriptElem: Option[Html] = None,
  welshEnabled: Boolean = false)(mainContent: Html)(implicit request : Request[_], messages: Messages)

@serviceInfoContent = {}

@sidebar = {
    @if(sidebarLinks.isDefined) {
        @layouts.sidebar(sidebarLinks.get, Some("sidebar"))
    }
}

@govuk_wrapper(appConfig = FrontendAppConfig,
               journeyData = journeyData,
               title = title,
               mainClass = mainClass,
               bodyClasses = bodyClasses,
               sidebar = sidebar,
               contentHeader = contentHeader,
               mainContent = layouts.article(mainContent),
               serviceInfoContent = serviceInfoContent,
               scriptElem = scriptElem,
               welshEnabled = welshEnabled
)
