
@import model._
@import uk.gov.hmrc.play.views.html.helpers
@import views.html.helpers.{alfErrorSummary, alfInput, countryAutoComplete}
@import views.html.v2.main_template
@import model.MessageConstants.{EnglishMessageConstants, WelshMessageConstants, MessageConstants}

@(id: String, journeyData: JourneyDataV2, editForm: Form[Edit], countries: Seq[(String, String)], isWelsh: Boolean, isUKMode: Boolean = false)(implicit request: Request[_], messages: Messages)

@messageConstants = @{if(isWelsh) WelshMessageConstants(isUKMode) else EnglishMessageConstants(isUKMode)}
@resolvedConfig = @{journeyData.resolveConfigV2(isWelsh)}

@main_template(title = resolvedConfig.labels.editPageLabels.title, journeyData = Some(journeyData), welshEnabled = isWelsh, isUKMode = isUKMode) {

<div id="nonUkEdit"></div>
  @if(resolvedConfig.options.showBackButtons) {
    <div>
      <a class="back-link" href="javascript:history.back()">@messageConstants.back</a>
    </div>
  }

  @alfErrorSummary(
    messageConstants.errorText, editForm
  )

  <h1 class="form-title heading-large" id="pageHeading">@{resolvedConfig.labels.editPageLabels.heading}</h1>
  @helpers.form(routes.AddressLookupController.handleEdit(id, false)) {
    <fieldset class="form-field-group">
      <div class="form-field spaced-below">
        @alfInput(
          editForm("line1"),
          '_label -> resolvedConfig.labels.editPageLabels.line1Label,
          '_inputClass -> "form-control--block input--medium",
          '_autoComplete -> "address-line1")
      </div>
      <div class="form-field spaced-below">
        @alfInput(
          editForm("line2"),
          '_label -> resolvedConfig.labels.editPageLabels.line2Label,
          '_inputClass -> "form-control--block input--medium",
          '_autoComplete -> "address-line2"
        )
      </div>
        <div class="form-field spaced-below">
            @alfInput(
            editForm("line3"),
            '_label -> resolvedConfig.labels.editPageLabels.line3Label,
            '_inputClass -> "form-control--block input--medium",
            '_autoComplete -> "address-line3"
            )
        </div>
      <div class="form-field spaced-below">
        @alfInput(
          editForm("town"),
          '_label -> resolvedConfig.labels.editPageLabels.townLabel,
          '_inputClass -> "form-control--block input--medium",
          '_autoComplete -> "address-level2"
        )
      </div>
      <div class="form-field spaced-below">
        @alfInput(
          editForm("postcode"),
          '_label -> resolvedConfig.labels.editPageLabels.postcodeLabel,
          '_inputClass -> "form-control--block input--small",
          '_autoComplete -> "postal-code"
        )
      </div>

        @if(countries.size > 1) {
            <div class="form-field">
            @helpers.dropdown(
                editForm("countryCode"),
                countries,
                false,
                '_label -> resolvedConfig.labels.editPageLabels.countryLabel,
                '_inputClass -> "form-control--block input--medium"
            )
                @countryAutoComplete(countries, editForm("countryCode").value)
            </div>
        } else {
            @defining(countries.head._1) { countryCode =>
                <input type="hidden" name="countryCode" value="@countryCode"/>
            }
            @defining(countries.head._2) { countryName =>
                <div class="form-field">
                    <label for="@countryName">
                        <span>@resolvedConfig.labels.editPageLabels.countryLabel</span>
                        <input type="text" readonly="" disabled="" class="form-control--block input--medium" value="@countryName"/>
                    </label>
                </div>
            }
        }

      <div class="form-field">
        <button class="button" type="submit" id="continue">@{resolvedConfig.labels.editPageLabels.submitLabel}</button>
      </div>
    </fieldset>
  }
}