
@import uk.gov.hmrc.play.views.html.helpers
@import views.html.helpers.{alfErrorSummary, alfInputRadioGroup}

@import model._
@import views.html.v2.{main_template => template}

@(id: String, journeyData: JourneyDataV2, selectForm: Form[Select], proposals: Proposals, lookup: Option[Lookup], firstSearch: Boolean)(implicit request: Request[_], messages: Messages)
@template(title = journeyData.resolveConfigV2.labels.en.selectPageLabels.title, journeyData = Some(journeyData)) {

    @if(journeyData.resolveConfigV2.options.showBackButtons) {
        <div>
            <a class="back-link" href="javascript:history.back()">@messages("common.back.text")</a>
        </div>
    }

    @alfErrorSummary(messages("common.error.text"), selectForm)

    @if(lookup.getOrElse(Lookup(None, "")).filter.isDefined) {
        @if(!firstSearch){
            <h1 class="form-title heading-large" id="pageHeading">@{journeyData.resolveConfigV2.labels.en.selectPageLabels.headingWithPostcode} @{lookup.get.postcode}</h1>
        } else {
            <h1 class="form-title heading-large" id="pageHeading">@{journeyData.resolveConfigV2.labels.en.selectPageLabels.heading}</h1>
        }
    } else {
        <h1 class="form-title heading-large" id="pageHeading">@{journeyData.resolveConfigV2.labels.en.selectPageLabels.heading}</h1>
    }

    @if(lookup.getOrElse(Lookup(None, "")).filter.isDefined) {
        @if(!firstSearch) {
            <div class="form-field">
                <p id="no-results">@messages("select.no.results") '@{lookup.get.filter.get}'.</p>
            </div>
            <div>
                <p><a href="@{routes.AddressLookupController.lookup(id,Some(lookup.get.postcode),Some(lookup.get.filter.get))}" id="differentAddress">@messages("select.different.search")</a></p>
            </div>
        }
    }

    </br>

    @helpers.form(controllers.routes.AddressLookupController.handleSelect(id)) {

        <fieldset>

            <div class="form-group">
                @alfInputRadioGroup(selectForm("addressId"), proposals.toHtmlOptions, '_label -> journeyData.resolveConfigV2.labels.en.selectPageLabels.proposalListLabel, '_labelClass -> "block-label")
            </div>
            <div class="form-group">
                <button class="button" type="submit" id="continue">@{journeyData.resolveConfigV2.labels.en.selectPageLabels.submitLabel}</button>
            </div>
            <div class="form-field">
                <p><a href="@{routes.AddressLookupController.edit(id,Some(lookup.fold("")(_.postcode)),Some(true))}" id="editAddress">@{journeyData.resolveConfigV2.labels.en.selectPageLabels.editAddressLinkText}</a></p>
            </div>
        </fieldset>
    }
}