
@import uk.gov.hmrc.play.views.html.helpers
@import views.html.helpers.{alfErrorSummary, alfInputRadioGroup}

@import model._
@import views.html.v2.{main_template => template}
@import model.MessageConstants.{EnglishMessageConstants, WelshMessageConstants, MessageConstants}

@import config.FrontendAppConfig
@(appConfig: FrontendAppConfig, id: String, journeyData: JourneyDataV2, selectForm: Form[Select], proposals: Proposals, lookup: Lookup, firstSearch: Boolean, isWelsh: Boolean = false, isUKMode: Boolean = true)(implicit request: Request[_], messages: Messages)

@messageConstants = @{if(isWelsh) WelshMessageConstants(isUKMode) else EnglishMessageConstants(isUKMode)}

@errorPrefix = @{if(isWelsh) "Gwall: " else "Error: "}

@titleWithError = @{
    if(selectForm.errors) {
        errorPrefix + journeyData.resolveConfigV2(isWelsh).labels.selectPageLabels.title
    } else {
        journeyData.resolveConfigV2(isWelsh).labels.selectPageLabels.title
    }
}

@template(appConfig, title = titleWithError, journeyData = Some(journeyData), welshEnabled = isWelsh) {

    @if(journeyData.resolveConfigV2(isWelsh).options.showBackButtons) {
        <div>
            <a class="back-link" href="javascript:history.back()">@{messageConstants.back}</a>
        </div>
    }

    @alfErrorSummary(messageConstants.errorText, selectForm)

<header class="page-header">
    @if(lookup.filter.isDefined) {
        @if(!firstSearch){
            <h1 class="heading-xlarge" id="pageHeading">@{journeyData.resolveConfigV2(isWelsh).labels.selectPageLabels.headingWithPostcode} @{lookup.postcode}</h1>
        } else {
            <h1 class="heading-xlarge" id="pageHeading">@{journeyData.resolveConfigV2(isWelsh).labels.selectPageLabels.heading}</h1>
        }
    } else {
        <h1 class="heading-xlarge" id="pageHeading">@{journeyData.resolveConfigV2(isWelsh).labels.selectPageLabels.heading}</h1>
    }
</header>

    @if(lookup.filter.isDefined) {
        @if(!firstSearch) {
            <div class="form-field">
                <p id="no-results">@{messageConstants.noResults} '@{lookup.filter.get}'.</p>
            </div>
            <div>
                <p><a href="@{routes.AddressLookupController.lookup(id,Some(lookup.postcode),Some(lookup.filter.get))}" id="differentAddress">@{messageConstants.differentSearch}</a></p>
            </div>
        }
    }

    @helpers.form(controllers.routes.AddressLookupController.handleSelect(id, lookup.filter, lookup.postcode)) {
        <div class="form-group">
            @alfInputRadioGroup(selectForm("addressId"), proposals.toHtmlOptions, '_legend -> journeyData.resolveConfigV2(isWelsh).labels.selectPageLabels.proposalListLabel, '_labelClass -> "block-label", '_ariaDescribedBy -> {if(selectForm.errors) "error-notification" else ""})
        </div>
        <div class="form-field">
            <p><a href="@{routes.AddressLookupController.edit(id, Some(lookup.postcode), Some(true))}" id="editAddress">@{journeyData.resolveConfigV2(isWelsh).labels.selectPageLabels.editAddressLinkText}</a></p>
        </div>
        <div class="form-group">
            <button class="button" type="submit" id="continue">@{journeyData.resolveConfigV2(isWelsh).labels.selectPageLabels.submitLabel}</button>
        </div>
    }
}