
@import model._
@import uk.gov.hmrc.play.views.html.helpers
@import views.html.helpers.{alfErrorSummary, alfInput}
@import views.html.v2.main_template
@import model.MessageConstants.{EnglishMessageConstants, WelshMessageConstants, MessageConstants}

@(id: String, journeyData: JourneyDataV2, editForm: Form[Edit], countries: Seq[(String, String)], isWelsh: Boolean, isUKMode: Boolean = true)(implicit request: Request[_], messages: Messages)

@messageConstants = @{if(isWelsh) WelshMessageConstants(isUKMode) else EnglishMessageConstants(isUKMode)}
@resolvedConf = @{journeyData.resolveConfigV2(isWelsh)}

@errorPrefix = @{if(isWelsh) "Gwall: " else "Error: "}

@titleWithError = @{
  if(editForm.errors) {
    errorPrefix + resolvedConf.labels.editPageLabels.title
  } else {
    resolvedConf.labels.editPageLabels.title
  }
}

@main_template(title = titleWithError, journeyData = Some(journeyData), welshEnabled = isWelsh, isUKMode = isUKMode) {
<div id="ukEdit"></div>
  @if(resolvedConf.options.showBackButtons) {
    <div>
      <a id="back-link" class="back-link" href="javascript:history.back()">@messageConstants.back</a>
    </div>
  }

  @alfErrorSummary(
   messageConstants.errorText, editForm
  )

  <header class="page-header">
    <h1 class="heading-xlarge" id="pageHeading">@{resolvedConf.labels.editPageLabels.heading}</h1>
  </header>

  @helpers.form(routes.AddressLookupController.handleEdit(id)) {
    <fieldset class="form-field-group">
      <div class="form-field spaced-below">
        @alfInput(
          editForm("line1"),
          '_label -> resolvedConf.labels.editPageLabels.line1Label,
          '_inputClass -> "form-control form-control--block input--medium",
          '_autoComplete -> "address-line1")
      </div>
      <div class="form-field spaced-below">
        @alfInput(
          editForm("line2"),
          '_label -> resolvedConf.labels.editPageLabels.line2Label,
          '_inputClass -> "form-control form-control--block input--medium",
          '_autoComplete -> "address-line2"
        )
      </div>
      <div class="form-field spaced-below">
        @alfInput(
        editForm("line3"),
        '_label -> resolvedConf.labels.editPageLabels.line3Label,
        '_inputClass -> "form-control form-control--block input--medium",
        '_autoComplete -> "address-line3"
        )
      </div>
      <div class="form-field spaced-below">
        @alfInput(
          editForm("town"),
          '_label -> resolvedConf.labels.editPageLabels.townLabel,
          '_inputClass -> "form-control form-control--block input--medium",
          '_autoComplete -> "address-level2"
        )
      </div>
      <div class="form-field spaced-below">
        @alfInput(
        editForm("postcode"),
        '_label -> resolvedConf.labels.editPageLabels.postcodeLabel,
        '_inputClass -> "form-control form-control--block input--small",
        '_autoComplete -> "postal-code"
        )
      </div>
      <div class="form-field">
        <button class="button" type="submit" id="continue">@{resolvedConf.labels.editPageLabels.submitLabel}</button>
      </div>
    </fieldset>
  }
}