/* Form validation */
/* Needed for now but will not be needed when assett frontend is bumped to version 3 and 4
when this happens the helpers package in the views package can be removed and reverted back to the govukhelpers*/
/*
  #b10e1e and #ffbf47 = current GOV.UK $error-colour ansd $focus-colour
  https://github.com/alphagov/govuk_frontend_toolkit/blob/master/stylesheets/colours/_palette.scss
*/
/* ========================================================================== */

/* Use .form-group-error to add a red border to the left of a .form-group */
.form-group-error {
    margin-right: 15px;
    border-left: 4px solid #b10e1e;
    padding-left: 10px;
}
.form-field--error {
    box-sizing: initial;
}


@media (min-width: 641px) {
    .form-group-error  {
        border-left: 5px solid #b10e1e;
        padding-left: 15px;
    }
}

/* Use .form-control-error to add a red border to .form-control */
.form-control-error {
    border: 4px solid #b10e1e;
}


/* Error messages should be red and bold */
.error-message {
    font-size: 16px;
    color: #b10e1e;


    display: block;
    clear: both;

    margin: 0;
    padding: 2px 0;
}

@media (min-width: 641px) {
    .error-message {
        font-size: 19px;
    }
}

.form-label .error-message,
.form-label-bold .error-message {
    padding-top: 4px;
    padding-bottom: 0;
}

/* Summary of multiple error messages */
.error-summary {

    /* Error summary has a border on all sides */
    border: 4px solid #b10e1e;

    margin-top: 15px;
    margin-bottom: 15px;

    padding: 15px 10px;

    /*  @include ie-lte(6) {
        zoom: 1;
      }*/
}

@media (min-width: 641px) {
    .error-summary {
        border: 5px solid #b10e1e;

        margin-top: 30px;
        margin-bottom: 30px;

        padding: 20px 15px 15px;
    }
}

/* Use the GOV.UK outline focus style */
.error-summary:focus {
    outline: 3px solid #ffbf47;
}

.error-summary .error-summary-heading {
    margin-top: 0;
}

.error-summary p {
    margin-bottom: 10px;
}

.error-summary .error-summary-list {
    padding-left: 0;


}

@media (min-width: 641px) {
    .error-summary .error-summary-list li {
        margin-bottom: 5px;
    }
}

.error-summary .error-summary-list a {
    color: #b10e1e;
    font-weight: bold;
    text-decoration: underline;
}



.error-notification {
    font-size: 16px;
    font-weight: bold;
    color: #b10e1e;
    display: block;
}

@media (min-width: 641px) {
    .error-notification {
        font-size: 19px;
    }
}




/*
  Removes bottom margin from last .block-label element so that the left error border lines up with the bottom of the content,
  This is a temporary fix before we upgrade to latest radio buttons and checkboxes.
  Which uses the multiple-choice class that has css that does this

  The code below can be deleted when we bump play-ui and HMRC AF to adopt the new radio buttons and checkboxes
*/
@media (min-width: 641px) {
    .block-label:last-of-type,
    .block-label:last-child {
        margin-bottom: 0;
    }
}


