@import 'form-validation.css';
@import 'header-adjust.css';
/*#UK-Tab-hidden {*/
    /*display: none;*/
/*}*/

/*#INT-Tab-hidden {*/
    /*display: none;*/
/*}*/

/*#BFPO-Tab-hidden {*/
    /*display: none;*/
/*}*/


.language-select {
    float: right;
}

.govuk-box-highlight {
    margin: 1em 0 1em 0;
    padding: 2em 0 1em 0;
    color: #fff;
    background: #28a197;
    text-align: center;
    background: #28a197;
}

.govuk-box-highlight h2{
    color: #fff;
}

.spaced-below {
    padding-bottom: 10px;
}

.spaced-above {
    padding-top: 20px;
}

#hiddenselection {
    display: none;;
}

#hiddentab {
    display: none;
    checked: checked;
}


.warning-box {
    background: #FFBF47;
    padding: 15px;
}

#confirmation td {
    background: #fff;
}

#confirmation td.empty {
    background: #eee;
}

.form-control--select,
.autocomplete__input {
    border: 2px solid #6f777b !important;
    margin: 0;
}

.autocomplete__wrapper {
    width: 20em;
}

.autocomplete__wrapper input {
    width: 100%;
}

@media (max-width: 640px) {
    .autocomplete__wrapper {
        width: auto;
    }
}

/*
  Removes bottom margin from last .block-label element so that the left error border lines up with the bottom of the content,
  This is a temporary fix before we upgrade to latest radio buttons and checkboxes.
  Which uses the multiple-choice class that has css that does this

  The code below can be deleted when we bump play-ui and HMRC AF to adopt the new radio buttons and checkboxes
*/
@media (min-width: 641px) {
  .block-label:last-of-type,
  .block-label:last-child {
    margin: 0;
  }
}

.form-field:last-of-type,
.form-field:last-child {
    margin-bottom: 0;
}

/* 
    Updated GOV.UK colours
    https://designnotes.blog.gov.uk/2019/07/29/weve-updated-the-gov-uk-colours-and-font/
 */

/* Grey: #dee0e2 --> #f3f2f1 */
html,
.example-highlight-grid .is-inner-block-highlight,
.block-label,
.block-label--stacked {
    background: #f3f2f1;
}

.block-label,
.block-label--stacked {
    border: 1px solid #f3f2f1;
}

article .info-notice {
    border-left: 10px #f3f2f1 solid;
}

.button--secondary,
.button--secondary:visited,
.button--secondary.disabled:hover,
.button--secondary[disabled="disabled"]:hover,
.button--secondary[disabled]:hover,
.footer,
.box--shaded,
.side-nav__link:hover,
.dataTable tbody .status--unconfirmed,
.annual-summaries--group .statement__summary--parent[aria-expanded="true"],
.tag,
.tabs-nav .tabs-nav__tab:focus,
.tabs-nav .tabs-nav__tab:hover,
.tabs-nav .tabs-nav__tab:active,
.tabs-nav a.tabs-nav__tab:focus,
.tabs-nav .tabs-nav__tab.link-style:focus,
.tabs-nav .tabs-nav__tab.button--link-style:focus,
.tabs-nav a.tabs-nav__tab:hover,
.tabs-nav .tabs-nav__tab.link-style:hover,
.tabs-nav .tabs-nav__tab.button--link-style:hover,
.tabs-nav a.tabs-nav__tab:active,
.tabs-nav .tabs-nav__tab.link-style:active,
.tabs-nav .tabs-nav__tab.button--link-style:active,
.payments .table-label.selected,
.payments .table-label:hover {
    background-color: #f3f2f1;
}  

.button--secondary:active {
    -webkit-box-shadow: 0 0 0 #f3f2f1;
    box-shadow: 0 0 0 #f3f2f1;
}

.dynamically-displayed {
    border-left: 5px solid #f3f2f1;
}

.account-menu__link:hover,
.account-menu__link:focus,
.account-menu__link:visited:hover,
.account-menu__link:visited:focus {
    border-bottom: 4px solid #f3f2f1;
}

.is-smaller .account-menu__link--back,
.services-dashboard .service-option--links:first-child .service-option--item {
    border-bottom: 1px solid #f3f2f1;
}

.indent {
    border-left: 0.52632em solid #f3f2f1;
}

/* Blue: #005ea5 --> #1d70b8 */
.phase-banner .phase-tag,
.alpha-banner .phase-tag,
.beta-banner .phase-tag,
.phase-tag,
.button--notification,
.button--notification:visited,
.button--notification.disabled:hover,
.button--notification[disabled="disabled"]:hover,
.button--notification[disabled]:hover,
.side-nav__list--selected .side-nav__link,
.side-nav__list--selected:hover .side-nav__link,
.highlight-message--dark,
.paye-statements .sidebar-links__item.selected,
.hero,
.hmrc-banner .phase-tag,
.full-width-banner {
    background-color: #1d70b8;
}

a,
.link-style,
.button--link-style,
.details summary,
.heading-large--blue,
.button.button--link,
.button--link.button--get-started,
a.back-to-top-link:visited,
.back-to-top-link.link-style:visited,
.back-to-top-link.button--link-style:visited,
.page-nav__link,
.banner-links,
.side-nav--child .side-nav__list--selected .side-nav__link,
.dataTables_paginate a,
.dataTables_paginate .link-style,
.dataTables_paginate .button--link-style,
.accordion__button:visited,
.toggle__button,
.tabs-nav .tabs-nav__tab:visited,
.tabs-nav__tab,
.payments .tab,
.services-dashboard .service-option--links .service-option--link:link {
    color: #1d70b8;
}

.heading--underlined {
    border-bottom: solid 0.26316em #1d70b8;
}
  
.section--branded h2 {
    border-bottom: 5px solid #1d70b8;
}

.brand-border--top,
.section--blue-top,
.footer,
.service-info {
    border-top: 10px solid #1d70b8;
}

.button--notification:active {
    -webkit-box-shadow: 0 0 0 #1d70b8;
    box-shadow: 0 0 0 #1d70b8;
}
  
.table--light-header thead {
    border-bottom: 3px solid #1d70b8;
}

.table__header--highlight {
    border-bottom: 0.10526em solid #1d70b8;
}

.attorneyBanner,
.delegation-banner {
    border-left: 3px solid #1d70b8;
}  

.panel-indent--info {
    border-left: 0.21053em solid #1d70b8;
}

.account-menu__link--active,
.account-menu__link--active:visited,
.business-tax .section--branded h2 {
    border-bottom: 4px solid #1d70b8;
}

/* Yellow: #ffbf47 --> #ffdd00 */
.js-enabled .add-focus,
.button:focus,
.button--get-started:focus,
details summary:focus,
.page-nav__link:focus,
input:focus,
textarea:focus,
.js-enabled .add-focus,
.account-menu__link:focus,
.account-menu__link:visited:focus,
.modal-dialog__content:focus {
    outline: 3px solid #ffdd00;
}
  
.multiple-choice [type="radio"]:focus + label::before,
.multiple-choice [type="checkbox"]:focus + label::before {
    -webkit-box-shadow: 0 0 0 4px #ffdd00;
    box-shadow: 0 0 0 4px #ffdd00;
}
  
/* Green: #00823b --> #00703c */
button,
button:visited,
button.disabled:hover,
button[disabled]:hover,
button[disabled="disabled"]:hover,
.button,
.button:visited,
.button.disabled:hover,
.button[disabled]:hover,
.button[disabled="disabled"]:hover,
.button--get-started,
.button--get-started:visited,
.button--get-started.disabled:hover,
.button--get-started[disabled]:hover,
.button--get-started[disabled="disabled"]:hover,
.button--small,
.button--small:visited,
.button--small.disabled:hover,
.button--small[disabled]:hover,
.button--small[disabled="disabled"]:hover,
.toggle__button--active,
.toggle__button--active:hover,
.toggle__button--active:focus {
    background-color: #00703c;
}

button:active,
.button:active,
.button--get-started:active,
.button--small:active {
    -webkit-box-shadow: 0 0 0 #00703c;
    box-shadow: 0 0 0 #00703c;
}

.button[disabled="disabled"],
[disabled="disabled"].button--get-started {
  background: #00703c;
}

.list--ticks li::before,
.tick,
.form-hint-list-item--valid {
    color: #00703c;
}

/* Red: #b10e1e --> #d4351c */
.validation-summary {
    border: 3px solid #b10e1e;
}  

.validation-message,
.validation-summary a,
.validation-summary .link-style,
.validation-summary .button--link-style,
.email-form-errors .error-notification,
.annual-summaries--group .alert--text,
.sent-in-error,
.business-tax .content__body .flag.flag--urgent {
    color: #b10e1e;
}

.button--alert,
.button--alert:visited,
.button--alert.disabled:hover,
.button--alert[disabled="disabled"]:hover,
.button--alert[disabled]:hover,
.marker-column__marker,
.reminder.urgent a,
.reminder.urgent .link-style,
.reminder.urgent .button--link-style,
.alert--important,
.tabs-nav .tabs-nav__tab .count,
.flag.flag--urgent,
.highlight-block--red {
    background-color: #b10e1e;
}  

.button--alert:active {
    -webkit-box-shadow: 0 0 0 #b10e1e;
    box-shadow: 0 0 0 #b10e1e;
}

.email-form-errors .error-notification,
.attorneyBanner--client-request-rejected {
    border-left: 3px solid #b10e1e;
}

.alert-block,
.main-nav .count {
    background: #b10e1e;
}  

.business-tax .alert--failure {
    border-color: #b10e1e;
}

.business-tax .content__body .flag.flag--urgent {
    border-left: 1px solid #b10e1e;
}
