@import 'form-validation.css';
@import 'header-adjust.css';
/*#UK-Tab-hidden {*/
    /*display: none;*/
/*}*/

/*#INT-Tab-hidden {*/
    /*display: none;*/
/*}*/

/*#BFPO-Tab-hidden {*/
    /*display: none;*/
/*}*/

.govuk-box-highlight {
    margin: 1em 0 1em 0;
    padding: 2em 0 1em 0;
    color: #fff;
    background: #28a197;
    text-align: center;
    background: #28a197;
}

.govuk-box-highlight h2{
    color: #fff;
}

.spaced-below {
    padding-bottom: 10px;
}

.spaced-above {
    padding-top: 20px;
}

#hiddenselection {
    display: none;;
}

#hiddentab {
    display: none;
    checked: checked;
}


.warning-box {
    background: #FFBF47;
    padding: 15px;
}

#confirmation td {
    background: #fff;
}

#confirmation td.empty {
    background: #eee;
}


/*
  Removes bottom margin from last .block-label element so that the left error border lines up with the bottom of the content,
  This is a temporary fix before we upgrade to latest radio buttons and checkboxes.
  Which uses the multiple-choice class that has css that does this

  The code below can be deleted when we bump play-ui and HMRC AF to adopt the new radio buttons and checkboxes
*/
@media (min-width: 641px) {
  .block-label:last-of-type,
  .block-label:last-child {
    margin: 0;
  }
}

.form-field:last-of-type,
.form-field:last-child {
    margin-bottom: 0;
}