
/*#UK-Tab-hidden {*/
    /*display: none;*/
/*}*/

/*#INT-Tab-hidden {*/
    /*display: none;*/
/*}*/

/*#BFPO-Tab-hidden {*/
    /*display: none;*/
/*}*/

.govuk-box-highlight {
    margin: 1em 0 1em 0;
    padding: 2em 0 1em 0;
    color: #fff;
    background: #28a197;
    text-align: center;
    background: #28a197;
}

.govuk-box-highlight h2{
    color: #fff;
}

#hiddenselection {
    display: none;;
}

#hiddentab {
    display: none;
    checked: checked;
}


.warning-box {
    background: #FFBF47;
    padding: 15px;
}

