@(field: Field, radioOptions: Seq[(String, String)], args: (Symbol, Any)*)(implicit lang: play.api.i18n.Lang, messages: Messages)

@import views.html.helper._

@elements = @{new FieldElements(field.id, field, null, args.toMap, messages) }
@fieldsetClass = {@elements.args.get('_groupClass)@if(elements.hasErrors){ form-group-error}}
@labelAfter = @{ elements.args.get('_labelAfter).getOrElse(false).asInstanceOf[Boolean] }

<fieldset class="@fieldsetClass" id="@field.id"
          @if(elements.args.get('_ariaDescribedBy).isDefined) {aria-describedby="@elements.args.get('_ariaDescribedBy)"}
          @if(elements.args.get('_fieldsetAttributes).isDefined) {@elements.args.get('_fieldsetAttributes)}>
    @if(elements.args.get('_legend).isDefined) {
        <legend class="visuallyhidden" @if(elements.args.get('_legendClass).isDefined) {class="@elements.args.get('_legendClass)"}>
        @elements.args.get('_legend)
        </legend>
    }
    @if(elements.args.get('_helpText).isDefined) {
        <span class="error-message">
            @elements.args.get('_helpText)
        </span>
    }

@elements.errors.map{error => <span class="error-notification" id='@{field.id+"-error-message"}'>@Messages(error)</span>}

@radioOptions.map { case (value, label) =>
@defining(s"${elements.field.name}-${value.toLowerCase.replace(" ","_")}")  { inputId =>
<div class="multiple-choice">
    <input
            type="radio"
            id="@inputId"
            name="@elements.field.name"
            value="@value"
            @elements.args.get('_inputClass).map{inputClass => class="@inputClass"}
    @if(elements.args.contains('_dataAttributes) ){ @elements.args.get('_dataAttributes)}
    @field.value.filter( _ == value).map{_ => checked="checked"}/>
    <label for="@inputId"
            @elements.args.get('_labelClass).map{labelClass => class="@labelClass@field.value.filter( _ == value).map{_ => selected}"}>
            @if(!labelAfter) {
                @if(elements.args.get('_stackedLabel)) {
                    @if(label.split(" ").length < 2) {<br>@label
                } else {
                    @for( (l, index) <- label.split(" ").zipWithIndex) {
                        @if(index != 0) {<br>}@l
                        }
                    }
                } else { @label }
            }

            @if(labelAfter) {
                @if(elements.args.get('_stackedLabel)) {
                    @if(label.split(" ").length < 2) {
                        <br>@Html(label)
                    } else {
                        @for( (l, index) <- label.split(" ").zipWithIndex) {
                            @if(index != 0) {<br>}@Html(l)
                        }
                    }
                } else { @Html(label) }
            }
    </label>
</div>
}
}
</fieldset>
