@(countries: Seq[(String, String)], prePop: Option[String], label: String)(implicit messages: Messages)
@import play.api.libs.json.{JsArray, Json}

<label class="form-label" for="countryCode">@label</label>
<select class="form-control form-control--select input--medium" id="countryCode" name="countryCode">
    @HtmlFormat.fill(countries.to[collection.immutable.Seq].map{s =>
        Html(s"""<option id="countryCode-${s._1}" value="${s._1}"${if(s._1 == "GB") "selected" else "" }>${s._2}</option>""")
    })
</select>

<script type="text/javascript">
    console.log("United Kingdom")
    accessibleAutocomplete.enhanceSelectElement({
      selectElement: document.getElementById("countryCode")
    })
</script>
