$govuk-assets-path: "/lookup-address/assets/lib/govuk-frontend/govuk/assets/";
$hmrc-assets-path: "/lookup-address/assets/lib/hmrc-frontend/hmrc/";

@import "lib/govuk-frontend/govuk/all";
@import "lib/hmrc-frontend/hmrc/all";

nav.hmrc-language-select {
  float: right;
}

.autocomplete__menu {
  font-family: "GDS Transport",Arial,sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 400;
  font-size: 16px;
  font-size: 1rem;
  line-height: 1.25;
  color: #0b0c0c;
}