$govuk-assets-path: "/lookup-address/assets/lib/govuk-frontend/govuk/assets/";
$hmrc-assets-path: "/lookup-address/assets/lib/hmrc-frontend/hmrc/";

@import "lib/govuk-frontend/govuk/all";
@import "lib/hmrc-frontend/hmrc/all";

.app-reference-number {
  display: block;
  font-weight: bold;
}