
@import model._
@import templates.address_confirmation_display
@import uk.gov.hmrc.play.views.html.helpers

@(id: String, journeyData: JourneyData, selectedAddress: Option[ConfirmableAddress])(implicit request: Request[_], messages: Messages)

@main_template(title = journeyData.resolvedConfig.confirmPage.title, journeyData = Some(journeyData)) {
  @if(journeyData.config.showBackButtons.getOrElse(true)) {
    <div>
      <a class="back-link" href="javascript:history.back()">Back</a>
    </div>
  }
  <h1 class="form-title heading-xlarge" id="pageHeading">@{journeyData.resolvedConfig.confirmPage.heading}</h1>
  @if(selectedAddress.isDefined) {
    @helpers.form(controllers.routes.AddressLookupController.handleConfirm(id)) {
      <fieldset class="form-field-group">
        <div class="form-field">
          @if(journeyData.resolvedConfig.confirmPage.showSubHeadingAndInfo) {
            <h2>@{journeyData.resolvedConfig.confirmPage.infoSubheading}</h2>
            <p>@Html(journeyData.resolvedConfig.confirmPage.infoMessage)</p>
          }
          @address_confirmation_display(selectedAddress.get.address)
        </div>
        @if(journeyData.resolvedConfig.confirmPage.showSearchAgainLink) {
          <div class="form-field">
            <p><a href="@{routes.AddressLookupController.lookup(id)}" id="searchAgainLink">@{journeyData.resolvedConfig.confirmPage.searchAgainLinkText}</a></p>
          </div>
        }
        @if(journeyData.resolvedConfig.confirmPage.showChangeLink) {
        <div class="form-field">
          <p><a href="@{routes.AddressLookupController.edit(id)}" id="changeLink">@{journeyData.resolvedConfig.confirmPage.changeLinkText}</a></p>
        </div>
        }
        <div class="form-field">
          <button class="button" type="submit" id="continue">@{journeyData.resolvedConfig.confirmPage.submitLabel}</button>
        </div>
      </fieldset>
    }
  } else {
    <p>You have not selected any address. Please <a href="@{routes.AddressLookupController.lookup(id)}" id="lookupLink">search for and select your address</a>.</p>
  }
}