
@import model._
@import uk.gov.hmrc.play.views.html.helpers
@import views.html.helpers.{alfErrorSummary, alfInput, countryAutoComplete}

@(id: String, journeyData: JourneyData, editForm: Form[Edit], countries: Seq[(String, String)])(implicit request: Request[_], messages: Messages)

@titleWithError = @{
    if(editForm.errors) {
        "Error: " + journeyData.resolvedConfig.editPage.title
    } else {
        journeyData.resolvedConfig.editPage.title
    }
}

@main_template(title = titleWithError, journeyData = Some(journeyData)) {
<div id="nonUkEdit"></div>
  @if(journeyData.config.showBackButtons.getOrElse(true)) {
    <div>
      <a class="back-link" href="javascript:history.back()">@messages("common.back.text")</a>
    </div>
  }

  @alfErrorSummary(
    messages("common.error.text"), editForm
  )

  <h1 class="form-title heading-large" id="pageHeading">@{journeyData.resolvedConfig.editPage.heading}</h1>
  @helpers.form(routes.AddressLookupController.handleEdit(id)) {
    <fieldset class="form-field-group">
      <div class="form-field spaced-below">
        @alfInput(
          editForm("line1"),
          '_label -> journeyData.resolvedConfig.editPage.line1Label,
          '_inputClass -> "form-control--block input--medium",
          '_autoComplete -> "address-line1")
      </div>
      <div class="form-field spaced-below">
        @alfInput(
          editForm("line2"),
          '_label -> journeyData.resolvedConfig.editPage.line2Label,
          '_inputClass -> "form-control--block input--medium",
          '_autoComplete -> "address-line2"
        )
      </div>
        <div class="form-field spaced-below">
            @alfInput(
            editForm("line3"),
            '_label -> journeyData.resolvedConfig.editPage.line3Label,
            '_inputClass -> "form-control--block input--medium",
            '_autoComplete -> "address-line3"
            )
        </div>
      <div class="form-field spaced-below">
        @alfInput(
          editForm("town"),
          '_label -> journeyData.resolvedConfig.editPage.townLabel,
          '_inputClass -> "form-control--block input--medium",
          '_autoComplete -> "address-level2"
        )
      </div>
      <div class="form-field spaced-below">
        @alfInput(
          editForm("postcode"),
          '_label -> journeyData.resolvedConfig.editPage.postcodeLabel,
          '_inputClass -> "form-control--block input--small",
          '_autoComplete -> "postal-code"
        )
      </div>

        @if(countries.size > 1) {
            <div class="form-field">
                @countryAutoComplete(countries, editForm("countryCode"), journeyData.resolvedConfig.editPage.countryLabel)
            </div>
        } else {
            @defining(countries.head._1) { countryCode =>
                <input type="hidden" name="countryCode" value="@countryCode"/>
            }
            @defining(countries.head._2) { countryName =>
                <div class="form-field">
                    <label for="@countryName">
                        <span>@journeyData.resolvedConfig.editPage.countryLabel</span>
                        <input type="text" readonly="" disabled="" class="form-control--block input--medium" value="@countryName"/>
                    </label>
                </div>
            }
        }

      <div class="form-field">
        <button class="button" type="submit" id="continue">@{journeyData.resolvedConfig.editPage.submitLabel}</button>
      </div>
    </fieldset>
  }
}