
@import model._
@import uk.gov.hmrc.play.views.html.helpers
@import views.html.helpers.{alfErrorSummary, alfInput}

@import config.FrontendAppConfig
@(appConfig: FrontendAppConfig, id: String, journeyData: JourneyData, lookupForm: Form[Lookup], message: Option[String] = None)(implicit request: Request[_], messages: Messages)

@titleWithError = @{
  if(lookupForm.errors) {
    "Error: " + journeyData.resolvedConfig.lookupPage.title
  } else {
    journeyData.resolvedConfig.lookupPage.title
  }
}

@main_template(appConfig, title = titleWithError, journeyData = Some(journeyData)) {

  @if(journeyData.config.showBackButtons.getOrElse(true)) {
    <div>
      <a class="back-link" href="javascript:history.back()">@messages("common.back.text")</a>
    </div>
  }

  @alfErrorSummary(
    messages("common.error.text"), lookupForm
  )

  <h1 class="form-title heading-large" id="pageHeading">@{journeyData.resolvedConfig.lookupPage.heading}</h1>
  @if(message.isDefined) {
    <div class="highlight-message highlight-message--full-width">
      <p>@{message.get}</p>
    </div>
  }
  @helpers.form(routes.AddressLookupController.select(id)) {
    <fieldset class="form-field-group">

      <div class="form-field">
        @alfInput(
        lookupForm("postcode"),
        '_label -> journeyData.resolvedConfig.lookupPage.postcodeLabel,
        '_inputClass -> "form-control form-control--block input--small"
        )
      </div>
      <div class="form-field spaced-below">
        <p><a href="@{routes.AddressLookupController.edit(id)}" id="manualAddress">@{journeyData.resolvedConfig.lookupPage.manualAddressLinkText}</a></p>
      </div>
      <div class="form-field spaced-below">
        @alfInput(
        lookupForm("filter"),
        '_label -> journeyData.resolvedConfig.lookupPage.filterLabel,
        '_inputHint -> messages("lookup.input.hint.text"),
        '_inputClass -> "form-control form-control--block"
        )
      </div>

      <div class="form-field spaced-below">
        <button class="button" type="submit" id="continue">@{journeyData.resolvedConfig.lookupPage.submitLabel}</button>
      </div>
    </fieldset>
 }
}
