
@import uk.gov.hmrc.play.views.html.helpers

@import model.Select
@import model.JourneyData

@(id: String, journeyData: JourneyData, selectForm: Form[Select], proposals: Proposals)(implicit request: Request[_], messages: Messages)

@main_template(title = journeyData.selectPage.title.getOrElse("Select Address"), journeyData = Some(journeyData)) {
  <h1>@{journeyData.selectPage.heading.getOrElse("Select Address")}</h1>
  @helpers.form(controllers.routes.AddressLookupController.handleSelect(id)) {
    <fieldset>
      <div class="form-group">
        @helpers.inputRadioGroup(selectForm("addressId"), proposals.toHtmlOptions, '_label -> journeyData.selectPage.proposalListLabel.getOrElse("Please select one of the following addresses"), '_labelClass -> "block-label")
      </div>
      <div class="form-field">
        <p><a href="@{routes.AddressLookupController.edit(id)}">Enter address manually</a></p>
      </div>
      <div class="form-group">
        <button type="submit">@{journeyData.selectPage.submitLabel.getOrElse("Next")}</button>
      </div>
    </fieldset>
  }
}