
@import uk.gov.hmrc.play.views.html.helpers
@import views.html.helpers.{alfErrorSummary, alfInputRadioGroup}

@import model._

@(id: String, journeyData: JourneyData, selectForm: Form[Select], proposals: Proposals, lookup: Option[Lookup], firstSearch: Boolean)(implicit request: Request[_], messages: Messages)

@main_template(title = journeyData.resolvedConfig.selectPage.title, journeyData = Some(journeyData)) {

  @if(journeyData.resolvedConfig.showBackButtons) {
    <div>
      <a class="back-link" href="javascript:history.back()">Back</a>
    </div>
  }

  @alfErrorSummary(
    "This page has errors", selectForm
  )

  <h1 class="form-title heading-xlarge" id="pageHeading">@{journeyData.resolvedConfig.selectPage.heading}</h1>
  @if(lookup.getOrElse(Lookup(None, "")).filter.isDefined) {
    @if(firstSearch) {
      <div>
        <p>We can’t find an exact match for that search. Here are the closest results.</p>
      </div>
    } else {
      <div>
        <p>We couldn't find any results for "@{lookup.get.filter.get}"</p>
        <p>Here are all the results for @{lookup.get.postcode}</p>
      </div>
    }
  }

  </br>

  @helpers.form(controllers.routes.AddressLookupController.handleSelect(id)) {
    <fieldset>
      <div class="form-group">
        @alfInputRadioGroup(selectForm("addressId"), proposals.toHtmlOptions, '_label -> journeyData.resolvedConfig.selectPage.proposalListLabel, '_labelClass -> "block-label")
      </div>
      @if(journeyData.resolvedConfig.selectPage.showSearchAgainLink) {
        <div class="form-field">
          <p><a href="@{routes.AddressLookupController.lookup(id)}" id="searchAgain">@{journeyData.resolvedConfig.selectPage.searchAgainLinkText}</a></p>
        </div>
      }
      <div class="form-group">
        <button class="button" type="submit" id="continue">@{journeyData.resolvedConfig.selectPage.submitLabel}</button>
      </div>
      <div class="form-field">
        <p><a href="@{routes.AddressLookupController.edit(id)}" id="editAddress">@{journeyData.resolvedConfig.selectPage.editAddressLinkText}</a></p>
      </div>
    </fieldset>
  }
}